extends layout

block content
    div(class="container")
        h2 Hello, bienvenue sur GilFlick
        h4 Votre outil de recherche de photos Flickr

        div(class="row")
            div(class="col s12")
                div(class="input-field col s6 offset-s3")
                    form(action="/flickr/", method="get")
                        input(placeholder="Tappez votre recherche ici", name="find", id="find", type="text", class="validate")

                if !param
                    h5(class="center-align col s10 offset-s1") Aucune recherche faite alors voici des images de : #{recherche}
                else
                    h5(class="center-align col s10 offset-s1") Résultats de votre recherche sur le mot : #{recherche}

                div(class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
                each photo in resultats.photos.photo
                    div(class="col s4 grid-item")
                        div(class="case")
                            img(src="https://farm"+photo.farm+".staticflickr.com/"+photo.server+"/"+photo.id+"_"+photo.secret+".jpg" class="img-responsive")
