extends layout

block content
    div(class="container")
        h2 Hello, bienvenue sur GilFlick
        h5 Votre outil de recherche de photos Flickr

        //a(class="waves-effect waves-light btn") button
        div(class="row")
            div(class="col s12")
                div(class="input-field col s6 offset-s3")
                    input(placeholder="Tappez votre recherche ici" id="first_name" type="text" class="validate")
                    //label(for="first_name") First Name


                div(class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
                each photo in resultats.photos.photo
                    div(class="col s4 grid-item")
                        div(class="case")
                            img(src="https://farm"+photo.farm+".staticflickr.com/"+photo.server+"/"+photo.id+"_"+photo.secret+".jpg" class="img-responsive")
