extends layout

block content
    div#id="fh5co-main"
        div(class="fh5co-gallery")
            a(class="gallery-item" href="single.html")
                img(src="images/work_1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co")
                span(class="overlay")
                h2 Nature
                span 14 Photos

    ul
        each photo in resultats.photos.photo
            li
                img(src="https://farm"+photo.farm+".staticflickr.com/"+photo.server+"/"+photo.id+"_"+photo.secret+".jpg")
