body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#space-top{
  margin-top: 10px;
  padding-top: 10px;
}

img{
  max-width: 100%;
  height: auto;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }